{% extends 'base.html' %}

{% block content %}
  <h2>Lista de Aparelhos</h2>
  <table>
    <thead>
      <tr>
        <th>IMEI</th> 
        <th>Status</th>
        <th>Observações</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for device in devices %}
        <tr>
          <td>{{ device.imei }}</td>
          <td>{{ device.status }}</td>
          <td>{{ device.observations }}</td>
          <td>
            <a href="{{ url_for('edit_device', id=device.id) }}">Editar</a>
            <a href="{{ url_for('delete_device', id=device.id) }}">Excluir</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
